<div id="content" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-3 page-sidebar">
        <aside>
          <div class="sidebar-box">
            <div class="user">
              <figure>
                <a href="#"><img src="assets/img/author/img1.jpg" alt="" /></a>
              </figure>
              <div class="usercontent">
                <h3>User</h3>
                <h4>Administrator</h4>
              </div>
            </div>
            <nav class="navdashboard">
              <ul>
                <li>
                  <a href="dashboard.html">
                    <i class="lni-dashboard"></i>
                    <span>Dashboard</span>
                  </a>
                </li>
                <li>
                  <a href="account-profile-setting.html">
                    <i class="lni-cog"></i>
                    <span>Profile Settings</span>
                  </a>
                </li>
                <li>
                  <a class="active" href="account-myads.html">
                    <i class="lni-layers"></i>
                    <span>My Ads</span>
                  </a>
                </li>
                <li>
                  <a href="offermessages.html">
                    <i class="lni-envelope"></i>
                    <span>Offers/Messages</span>
                  </a>
                </li>
                <li>
                  <a href="payments.html">
                    <i class="lni-wallet"></i>
                    <span>Payments</span>
                  </a>
                </li>
                <li>
                  <a href="account-favourite-ads.html">
                    <i class="lni-heart"></i>
                    <span>My Favourites</span>
                  </a>
                </li>
                <li>
                  <a href="privacy-setting.html">
                    <i class="lni-star"></i>
                    <span>Privacy Settings</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="lni-enter"></i>
                    <span>Logout</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="widget">
            <h4 class="widget-title">Advertisement</h4>
            <div class="add-box">
              <img class="img-fluid" src="assets/img/img1.jpg" alt="" />
            </div>
          </div>
        </aside>
      </div>
      <div class="col-sm-12 col-md-8 col-lg-9">
        <div class="page-content">
          <div class="inner-box">
            <div class="dashboard-box">
              <h2 class="dashbord-title">My Ads</h2>
            </div>
            <div class="dashboard-wrapper">
              <nav class="nav-table">
                <ul>
                  <li><a href="#">All Ads (42)</a></li>
                  <li><a href="#">Published (88)</a></li>
                  <li><a href="#">Featured (12)</a></li>
                  <li><a href="#">Sold (02)</a></li>
                  <li class="active"><a href="#">Active (42)</a></li>
                  <li><a href="#">Expired (01)</a></li>
                </ul>
              </nav>
              <table class="table table-responsive dashboardtable tablemyads">
                <thead>
                  <tr>
                    <th>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="checkedall" />
                        <label class="custom-control-label" for="checkedall"></label>
                      </div>
                    </th>
                    <th>Photo</th>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Ad Status</th>
                    <th>Price</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr data-category="active" *ngFor="let product of products">
                    <td>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="adone" />
                        <label class="custom-control-label" for="adone"></label>
                      </div>
                    </td>
                    <td class="photo">
                      <img class="img-fluid" src="assets/img/product/img1.jpg" alt="" />
                    </td>
                    <td data-title="Title">
                      <h3>{{ product.productName }}</h3>
                    </td>
                    <td data-title="Category">
                      <span class="adcategories">{{ product.category }}</span>
                    </td>
                    <td data-title="Ad Status">
                      <span class="adstatus adstatusactive">active</span>
                    </td>
                    <td data-title="Price">
                      <h3>${{ product.price }}</h3>
                    </td>
                    <td data-title="Action">
                      <div class="btns-actions">

                        <a class="btn-action btn-view" (click)="goToAdDetail(product._id)"><i class="lni-eye"></i></a>
                        <a class="btn-action btn-edit" (click)="fillProductUpdateForm(product)"><i
                            class="lni-pencil"></i></a>
                        <a class="btn-action btn-delete" (click)="openModal(template)"><i class="lni-trash"></i></a>
                        <br><br>
                        <ng-template #template class="align-items-center">
                          <div class="modal-body text-center">
                            <p>Do you want to delete your product?</p>
                            <button type="button" class="btn btn-danger"
                              (click)="deleteProduct(product._id)">Yes</button>
                            <button type="button" class="btn btn-default" (click)="decline()">No</button>
                          </div>
                        </ng-template>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
